[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/acumos-gerrit-image-mood-classifier-committers
	forgeServerAsCommitter = group ldap/acumos-gerrit-image-mood-classifier-committers
	push = +force group ldap/acumos-gerrit-image-mood-classifier-committers
	pushMerge = group ldap/acumos-gerrit-image-mood-classifier-committers
[project]
	description = "example acumos model that ingests tags from the image classifier to produce a secondary set of tags corresponding to image mood; this demonstrates chaining and the use of disconnected datasets"
[receive]
	requireSignedOffBy = false
	requireChangeId = false
	enableSignedPush = true
	requireSignedPush = false
